@import url("https://fonts.googleapis.com/css?family=Karla|Quicksand");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Karla', sans-serif ;
  width: 100%;
  height: 100vh;
  background: #0F1020;
  color: #eee;
}

.parent-div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-text {
  display: flex;
  justify-content: space-between;
}


.insights {
  background: #EFC3F5;
  height: 260px;
  border-radius: 3px;
  padding: 20px;
  color: #0F1020;
}

.form-and-insights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 530px;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  justify-content: space-evenly;
  background: #2F195F;
  padding: 20px;
  align-items: center;
  border-radius: 3px;
}

input {
  height: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  color: #eee;
}

.insights-heading {
  font-size: 28px;
}

.insights-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.insights-section > * {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.outcomes-container {
  width: 70%;
  background: #2F195F;
  padding: 20px;
  border-radius: 3px;
}

.outcome-card {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
  background: #381E71;
  border-radius: 3px;
}

.outcomes h1 {
  padding-bottom: 15px;
}

::placeholder {
  color: #ddd;
}

button {
  height: 40px;
  width: 300px;
  background: #EFC3F5;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 18px;
}
